/* Estilo de Lista de Usuarios*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
#banner{
    position: relative; 
    height: 150px;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(Fondo/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
}
h3 {
    margin-top: 20px; 
}
.container {
    position: relative; 
    top: 50; 
    left: 10; 
    width: 100%; 
    z-index: 1; 
}
.logo{
    width: 200px;
    position: absolute;
    top: 4%;
    left: 4%;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    height: 40vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text h1{
    font-family: 'Playfair Display', serif; 
    font-size: 45px; 
    line-height: 85px; 
}
.table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.table thead th {
    font-weight: 600;
    color: #fff;
    background-color: #009688;
    border-color: #05776c;
}
.table tbody td {
    background-color: #f3eeee;
}
.table-hover tbody tr:hover {
    background-color: #e0e0e0;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: linear-gradient(to right, #009688, #02251d);
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;

}